﻿
/* CSS Document */

#frameWrap
{
    width: 100%;
    height: 100%;
    position: relative;
}


#frameWrap .load
{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background: url(../images/blue_rightBg.gif) repeat;
}

/* CSS Document */
#frameWrap .load .loading
{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100px;
    margin-top: 200px;
    float: left;
    background: url(../images/blue_load.png) no-repeat center;
}

#mainIframe
{
    background: transparent;
}

/*蓝色版皮肤首页*/
/*头部*/
#head
{
    float: left;
    width: 100%;
    background: url(../images/blue_topbackground.gif) repeat-x;
    height: 80px;
}
/*中部菜单（带搜索框）*/
.menu_space
{
    float: right;
    width: 2px;
    height: 40px;
    background: url(../images/blue_middle_menu_space.gif) no-repeat;
}
.menu_search-input
{
    margin: 7px 0px 0px 10px;
    float: left;
    width: 162px;
    height: 26px;
    background: url(../images/blue_searchbackground.gif) no-repeat;
}
/*中部菜单（按钮样式）*/
.gray_center_button
{
    float: left;
    height: 28px;
}
.gray_button_left
{
    float: left;
    width: 4px;
    height: 28px;
    background: url(../images/blue_button_leftimage.gif) repeat-x;
}

.gray_button_leftBg
{
    line-height: 220%;
    padding-right: 5px;
    float: left;
    font-size: 12px;
    background: url(../../upad_gray/images/gray_button_leftBg.gif) repeat-x;
    height: 28px;
}
.gray_button_leftBg a
{
    color: #1c1c1c;
}

.gray_button_right
{
    float: left;
    width: 22px;
    height: 28px;
    background: url(../images/blue_button_right.gif) repeat-x;
}
/*中部菜单（右侧登录人信息样式）*/
.login_icon
{
    float: left;
    height: 19px;
    width: 19px;
    background: url(../../upad_gray/images/gray_login_icon.png) no-repeat;
}
.login_message_font
{
    width: 305px;
    font-size: 13px;
    color: #343434;
    float: right;
    height: 20px;
}


/*左侧菜单*/

#leftNav
{
    height: 700px;
    width: 181px;
    background: url(../images/blue_leftBg.gif) repeat;
    border-right: 1px #9e9e9e solid;
    overflow: hidden;
    position: relative;
}
.leftNav_li
{
    width: 181px;
    height: 42px;
    vertical-align: bottom;
    background: url(../images/blue_leftnav-background.gif) repeat-x;
}
.leftNav_li a
{
    background: url(../images/blue_leftnav-right.gif) no-repeat top right;
    width: 181px;
    height: 42px;
    color: #1c1c1c;
    display: block;
    font-size: 13px;
}
/*左侧菜单滑过样式*/
.leftNav_a:hover
{
    background: url(../images/blue_leftnav-background.gif) repeat-x 0px -42px;
    color: #ffffff;
    font-size: 13px;
}
/*左侧菜单右侧下级菜单指示图标*/
.leftNav_content_right
{
    float: right;
    width: 22px;
    height: 40px;
    background: url(../../upad_gray/images/gray_downIcon.png) no-repeat center;
}
.leftNav_content_right a:hover
{
    background: url(../images/blue_downIcon_across.png) no-repeat center;
}
/*左侧收缩隐藏按钮*/
#flex
{
    background: url(../images/blue_flex.png) no-repeat;
    width: 24px;
    height: 71px;
    position: absolute;
    left: 170px;
    top: 350px;
}
.flex2
{
    background: url(../images/blue_flex.png) no-repeat;
}
.flex1
{
    background: url(../images/blue_flex_close.png) no-repeat;
}

/*右侧内容*/
#right
{
    float: left;
    width: 100%;
    height: 700px;
    background: url(../images/blue_rightBg.gif) repeat;
}

.rightTitle_font
{
    font-size: 18px;
    color: #3c5a98;
}
/*右侧栏目标题样式*/
.column_title_left
{
    width: 11px;
    height: 36px;
    background: url(../images/blue_column_leftBg.png) no-repeat;
}
.column_title_right
{
    width: 11px;
    height: 36px;
    background: url(../images/blue_column_rightBg.png) no-repeat;
}
.column_title_center
{
    background: url(../images/blue_column_centerBg.png) repeat-x;
}
.column_title_font
{
    float: left;
    width: 200px;
    height: 20px;
    color: #282828;
    font-size: 13px;
    padding-top: 5px;
    padding-left: 10px;
}
.column_flex
{
    float: right;
    height: 18px;
    width: 18px;
    margin-top: 8px;
    background: url(../../upad_gray/images/gray_column_flex.png) no-repeat;
}
.column_flex_close
{
    float: right;
    height: 18px;
    width: 18px;
    margin-top: 5px;
    background: url(../../upad_gray/images/gray_column_flex_close.png) no-repeat;
}
/*右侧栏目内容样式*/
.column_center_left
{
    width: 9px;
    background: url(../../upad_gray/images/column_center_leftBg.png) repeat-y;
}
.column_center_center
{
    height: 165px;
    background: #f7f7f7;
}

.column_center_right
{
    width: 9px;
    background: url(../../upad_gray/images/column_center_rightBg.png) repeat-y;
}
.column_foot_left
{
    width: 9px;
    height: 9px;
    background: url(../../upad_gray/images/column_foot_leftBg.png) no-repeat;
}
.column_foot_center
{
    height: 9px;
    background: url(../../upad_gray/images/column_foot_centerBg.png) repeat-x;
}
.column_foot_right
{
    width: 8px;
    height: 9px;
    background: url(../../upad_gray/images/column_foot_rightBg.png) no-repeat;
}



.column_close_left
{
    width: 12px;
    height: 46px;
    background: url(../images/blue_column_close_leftBg.png) no-repeat;
}
.column_close_center
{
    height: 46px;
    background: url(../images/blue_column_close_centerBg.png) repeat-x;
}
.column_close_right
{
    width: 12px;
    height: 46px;
    background: url(../images/blue_column_close_rightBg.png) no-repeat;
}

.table_space
{
    height: 2px;
    background: url(../../upad_gray/images/table_space.gif) repeat-x;
}
.column_list_title
{
    padding: 5px 0px 0px 5px;
    float: left;
    width: 100%;
    height: 20px;
    color: #3c5a98;
    font-size: 13px;
}
.column_tr
{
    background-color: #fafafa;
}
.column_td_title
{
    font-size: 12px;
    color: #3c5a98;
}
.column_td_font
{
    font-size: 12px;
    color: #808080;
}


/*蓝色版皮肤树状结构页面*/
/*蓝色版皮肤左侧标题样式*/
.tree_title
{
    width: 100%;
    height: 28px;
    float: left;
    background: url(../images/blue_tree_topBg.gif) repeat-x;
}
.tree_title_left
{
    float: left;
    background: url(../images/blue_tree_titleBg.gif) no-repeat;
    width: 108px;
    height: 28px;
    font-size: 13px;
    text-align: center;
    color: #FFF;
    line-height: 200%;
}
.tree_title_right
{
    float: right;
    width: 1px;
    height: 28px;
    background-color: #dfdfdf;
}
/*蓝色版皮肤树状结构页面左侧标题与内容分割线*/
.tree_space
{
    float: left;
    width: 100%;
    height: 2px;
    background: url(../images/blue_tree_titleSpace.gif) repeat-x;
}
/*蓝色版皮肤树状结构页面左侧列表内容*/
.tree_content
{
    float: left;
    width: 100%;
    height: 500px;
    border-left: 1px #dfdfdf solid;
    border-right: 1px #dfdfdf solid;
    background-color: #f0f4f4;
    border-bottom: 1px #dfdfdf solid;
}
.tree_content ul li
{
    font-size: 12px;
}
.tree_nav_head:hover
{
    background: url(../images/blue_tree_menuBg.gif) repeat-x;
    display: block;
    height: 28px;
    width: 100%;
}

.tree_expand
{
    float: left;
    width: 10px;
    height: 10px;
    padding: 0px;
    margin: 12px 5px 5px 10px;
    background: url(../../upad_gray/images/gray_tree_on.png) no-repeat;
}
.tree_expand_open
{
    float: left;
    width: 10px;
    height: 10px;
    padding: 0px;
    margin: 12px 5px 5px 10px;
    background: url(../../upad_gray/images/gray_tree_on.png) no-repeat 0px -10px;
}
/*左侧图标样式*/
.tree_nav_icon
{
    margin: 7px 0px 0px 0px;
    background: url(../../upad_gray/images/gray_tree_icon.png) no-repeat;
    float: left;
    height: 15px;
    width: 16px;
}
.tree_nav_icon_labe2
{
    background: url(../../upad_gray/images/gray_tree_icon.png) no-repeat 0px -15px;
}
.tree_nav_icon_labe3
{
    background: url(../../upad_gray/images/gray_tree_icon.png) no-repeat 0px -30px;
}
.tree_nav_label
{
    float: left;
    height: 17px;
    margin-left: 5px;
    padding-top: 7px;
}

.tree_nav_labe2
{
    margin: 0px;
    padding: 0px;
    vertical-align: bottom;
}



.tree_nav_labe2 li
{
    padding-left: 20px;
    vertical-align: bottom;
}

.tree_nav_labe2_font
{
    line-height: 29px;
}
.tree_nav_labe2 a:hover
{
    color: #009;
}

/*灰色版树状结构页面右侧框架内容*/
.column_center_tree
{
    background: #f7f7f7;
}

/*灰色版树状结构页面右侧框架按钮样式*/
.tree_button_add
{
    background: url(../../upad_gray/images/tree_button_add.gif) no-repeat;
    border: 0 none;
    cursor: pointer;
    height: 27px;
    width: 70px;
}
.tree_button_delete
{
    background: url(../../upad_gray/images/tree_button_delete.gif) no-repeat;
    border: 0 none;
    cursor: pointer;
    height: 27px;
    width: 70px;
}
.tree_button_save
{
    background: url(../../upad_gray/images/tree_button_save.gif) no-repeat;
    border: 0 none;
    cursor: pointer;
    height: 27px;
    width: 70px;
}
/*灰色版树状结构页面右侧框架表格样式*/
.tree_tr
{
    height: 28px;
    color: #3c5a98;
    width: 100%;
    background: url(../images/blue_tree_menuBg.gif) repeat-x;
    font-size: 12px;
}
.tree_tr_space
{
    width: 100%;
    height: 2px;
    background: url(../../upad_gray/images/table_space.gif) repeat-x;
}
.tree_tr_none
{
    width: 100%;
    color: #808080;
    font-size: 12px;
}
.tree_table
{
    margin-top: 5px;
}
.tree_table td
{
    text-indent: 2em;
}
.tree_tr_color
{
    width: 100%;
    color: #808080;
    font-size: 12px;
    background-color: #fafafa;
}
.tree_input_t
{
    height: 19px;
    border: 1px #9f9f9f solid;
}
.tree_input_a
{
    height: 45px;
    border: 1px #9f9f9f solid;
    width: 90%;
}
/*蓝色版气球导航*/
.Navballoon
{
    width: 213px;
    float: left;
    margin-left: 15px;
}
.balloon_top_left
{
    background: url(../../upad_gray/images/gray_balloon_top_leftBg.png) no-repeat;
}
.balloon_top_center
{
    background: url(../../upad_gray/images/gray_balloon_top_centerBg.png) repeat-x;
}
.balloon_top_right
{
    background: url(../../upad_gray/images/gray_balloon_top_rightBg.png) no-repeat;
}


.balloon_center_left
{
    background: url(../../upad_gray/images/gray_Navballoon_center_leftBg.png) repeat-y;
}
.balloon_center_center
{
    background-color: #eeeeee;
}
.balloon_center_right
{
    background: url(../../upad_gray/images/gray_Navballoon_center_rightBg.png) repeat-y;
}
.balloon_bottom_left
{
    background: url(../../upad_gray/images/gray_Navballoon_foot_leftBg.png) no-repeat;
}
.balloon_bottom_center
{
    background: url(../../upad_gray/images/gray_Navballoon_foot_centerBg.png) repeat-x;
}
.balloon_bottom_right
{
    background: url(../../upad_gray/images/gray_Navballoon_foot_rightBg.png) no-repeat;
}

.balloon_triangle
{
    width: 16px;
    height: 28px;
    background: url(../../upad_gray/images/gray_balloon_triangle.png) no-repeat;
    position: absolute;
    left: 5px;
    top: 15px;
}

.balloon_content
{
    position: relative;
    border-top: 1px #dcdcdc solid;
    border-left: 1px #dcdcdc solid;
    border-right: 1px #dcdcdc solid;
    float: left;
    width: 99%;
    height: 100%;
}
.balloon_content ul li
{
    vertical-align: bottom;
    width: 100%;
    height: 36px;
    background: url(../images/blue_balloon_content_liBg.gif) repeat-x 0px -36px;
}
.balloon_content ul li a
{
    color: #1c1c1c;
    font-size: 13px;
    width: 100%;
    background: url(../images/blue_balloon_content_liBg.gif) repeat-x 0px -36px;
}

.balloon_content ul li a:hover
{
    color: #3c5a98;
    font-size: 14px;
    background: url(../images/blue_balloon_content_liBg.gif) repeat-x;
    display: block;
    height: 36px;
}

.balloon_li_left
{
    vertical-align: top;
    padding: 6px 0px 0px 10px;
    width: 140px;
    height: 25px;
    float: left;
}
.balloon_li_right
{
    padding: 0px 5px 0px 0px;
    margin-top: 10px;
    background: url(../../upad_gray/images/balloon_li_icon_more.png) no-repeat;
    width: 13px;
    height: 13px;
    float: right;
}


.balloon_circle_topLeft
{
    width: 4px;
    height: 4px;
    background: url(../../upad_gray/images/balloon_circle_topLeft.png) no-repeat top;
    position: absolute;
    left: -1px;
    top: -1px;
}
.balloon_circle_topRight
{
    width: 4px;
    height: 4px;
    background: url(../../upad_gray/images/balloon_circle_topRight.png) no-repeat top;
    position: absolute;
    right: -1px;
    top: -1px;
}
.balloon_circle_bottomLeft
{
    width: 4px;
    height: 4px;
    background: url(../../upad_gray/images/balloon_circle_bottomLeft.png) no-repeat top;
    position: absolute;
    left: -1px;
    bottom: 0px;
}
.balloon_circle_bottomRight
{
    width: 4px;
    height: 4px;
    background: url(../../upad_gray/images/balloon_circle_bottomRight.png) no-repeat top;
    position: absolute;
    right: -1px;
    bottom: 0px;
}


.leftNav_content_over
{
    color: #FFFFFF;
    background: url(../images/blue_leftnav-background.gif) repeat-x 0px -42px;
}

.balloon_content_over
{
    color: #3c5a98;
    font-size: 14px;
    background: url(../images/blue_balloon_content_liBg.gif) repeat-x;
    display: block;
    height: 36px;
}
/*蓝色版皮肤气泡样式*/
.bubble
{
    float: left;
    width: 190px;
}
.bubble_top
{
    float: left;
    width: 190px;
    height: 11px;
    background: url(../../upad_gray/images/gray_bubble_topBg.png) no-repeat;
}
.bubbleContent
{
    font-size: 12px;
    width: 190px;
    float: left;
    background: url(../../upad_gray/images/gray_bubbleBg.png) repeat-y;
}
.bubble_foot
{
    float: left;
    height: 7px;
    width: 190px;
    background: url(../../upad_gray/images/gray_bubbl_foot.png) no-repeat;
}
.bubbleContent ul li
{
    margin-left: 3px;
    margin-right: 3px;
    padding-left: 10px;
    border-bottom: 1px #e1e1e1 solid;
    width: 174px;
    height: 22px;
}
.bubbleContent ul li a:hover
{
    text-indent: 10px;
    width: 190px;
    height: 22px;
    display: block;
    background: url(../../upad_gray/images/bubble_icon.png) no-repeat left;
}


/*蓝色版皮肤换肤气泡样式*/
.skin_bubble
{
    float: left;
    width: 88px;
      z-index:999999;
}
.skin_bubble_top
{
    float: left;
    width: 88px;
    height: 9px;
    background: url(../images/blue_bubble_skinTop.png) no-repeat;
}
.skin_bubble_center
{
    float: left;
    width: 88px;
    background: url(../images/blue_bubble_skinBg.png) repeat-y;
}
.skin_bubble_bottom
{
    float: left;
    width: 88px;
    height: 3px;
    background: url(../images/blue_bubble_foot.png) no-repeat;
}
.skin_bubble_center ul li
{
    float: left;
    width: 42px;
    height: 39px;
    padding: 7px 0px 0px 2px;
}

.leftNav_content_right_over
{
    background: url(../images/blue_downIcon_across.png) no-repeat center;
}


.flip_leftButton
{
    width: 29px;
    height: 22px;
    float: left;
    background: url(../images/blue_left_flip_open.gif) no-repeat;
}
.flip_rightButton
{
    width: 28px;
    height: 22px;
    float: right;
    background: url(../images/blue_left_right_open.gif) no-repeat;
}