body{
	margin: 0;
	border: 0;
	/*background: url(../images/bg.jpg);
	//background-repeat: repeat-x;*/
}

.wx_content, .wx_title{
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.wx_title {
	font-size: 20px;
}

.wx_content {
	margin-top: 25px;
}

.wx_content span {
	display: block;
	width: 80%;
	margin: 0 auto;
}

.wx_content .wx_userinfo {
	width: 100%;
	height: 40px;
	padding: 1px 1px 1px 20px;
	border: 1px solid #dbdbdb;
}

.wx_content .wx_btn_login {
	color: white;
	font-weight: bold;
	background-color: #bd7803;
	cursor: pointer;
	margin-top: 10px;
	width: 80%;
	padding: 0px;
}

/*2015-03-10 by zjq*/
#login {
//background: #FFF;
margin-top: 15px;
}
#account .body {
padding: 10px;
background: #f7f5f0;
min-height: 184px;
}
#login .wrapper {
border: 1px solid #CCC;
border-radius: 3px;
background: #fff;
overflow: hidden;
//width: 300px;
min-width: 320px;
max-width: 800px;
margin: 0 auto;
}
#login .login-tab {
display: -webkit-box;
text-align: center;
position: relative;
}
#login .normal-tab, #login .quick-tab {
display: block;
font-size: 16px;
font-weight: normal;
color: #333;
-webkit-box-flex: 1;
line-height: 48px;
}
#login .cur-normal .hilight-tab {
left: 50%;
}
#login .hilight-tab {
position: absolute;
top:0px;
height: 48px;
width: 50%;
border: 1px solid #CCC;
left: 0;
z-index: 1;
background: #DDD;
opacity: .5;
-webkit-transition: all 0.1s ease-in-out;
}
#login .panel[data-tab='normal'] {
left: 0;
}
#login .panel[data-tab='quick'] {
left: -100%;
}
#login .panel {
position: relative;
font-size: 0rem;
white-space: nowrap;
-webkit-transition: all 0.1s ease-in-out;
width: 100%;
}
#login  .quick-panel .number .waiting{ background : #AAA;border: 1px solid #999;}
#login .quick-panel, #login .normal-panel {
display: inline-block;
letter-spacing: normal;
vertical-align: top;
word-spacing: normal;
white-space: normal;
padding: 8px 2% 10px;
text-align: center;
width: 96%;
position: relative;
}
p {
margin: 0;
padding: 0;
font-size: 100%;
font-weight: normal;
-webkit-tap-highlight-color: transparent;
}
p {
display: block;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}
#login input[type="text"], input[type="number"], input[type="password"] {
-webkit-user-modify: read-write-plaintext-only;
-webkit-tap-highlight-color: rgba(0,0,0,0);
outline-style: none;
}
.common-text {
display: inline-block;
vertical-align: top;
padding: 0 25px;
color: #000;
height: 42px;
font-size: 16px;
margin: 6px 0;
border-radius: 5px;
border: 1px #CCC solid;
background: #FAFAFA;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
width: 100%;
}
.c-submit {
height: 42px;
margin: 6px 0;
}
.c-submit input, .c-submit span, .c-submit a {
background: #00CD00;
display: block;
width: 100%;
height: 100%;
font-size: 16px;
color: #FFF;
border: none;
border-radius:6px;
}
#login .quick-panel .number span, #order-check .captcha-box span {
height: 40px;
color: #FFF;
line-height: 40px;
margin: 6px 0;
text-align: center;
background: #EE0000;
border-radius: 5px;
width: 35%;
font-size: 14px;
float: right;
}
#login .smsCode
{
    height: 42px;
    color: #333;
    margin: 6px 0;
    text-align: center;
    background: #EAEAEA;
    border-radius: 5px;
    width: 44%;
    font-size: 16px;
    float: right;
    border: 1px solid #ddd;
 }
#login form
{
margin: 0;
padding: 0;
}
#errMsg
{
    text-align: center;
    color: red;
}